<p>
  There are <%- books.length %> books available.
</p>

<% books.forEach((book) => { %>
  <p>
    <a href="<%- book.id %>"><%- book.title %> by <%- book.author %></a>
    <br />
    <% if (book.onLoan) { %>
      On loan
    <% } else { %>
      <form action='/loans' method='post'>
        <input type='hidden' name='BookId' value='<%- book.id %>'>
        <button type='submit'>Borrow</button>
      </form>
    <% } %>
  </p>
  <p><%- book.id %></p>
  <hr>
<% }) %>

<p>Add a new book</p>

<form action='/books' method='post'>

  <p>
    <label>
      Title
      <input type='text' name='title' />
    </label>
  </p>

  <p>
    <label>
      Author
      <input type='text' name='author' />
    </label>
  </p>

  <button type='submit'>Save</button>
</form>
