<p>Edit User</p>

<% if (error) { %>
  <p><%- error %></p>
<% } %>

<form action='/users/<%- user.id %>' method='post'>

  <label>
    Email
    <input type='email' name='email' value='<%- user.email %>' />
  </label>
    
  <select name='role'>
    <% ['Borrower', 'Librarian', 'Admin'].forEach((role) => { %>
      <option
        value="<%- role %>"
        <% if (user.role === role) { %>
          selected='selected'
        <% } %>
      >
        <%- role %>
      </option>
    <% }) %>
  </select>

  <button type='submit'>Save</button>
</form>

<p>
  <a href='/users'>Go back to users</a>
</p>
